.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

pre {
  padding: 10px;
  overflow: auto;
  line-height: 1.45;
  background-color: #ecf1f5;
  border-radius: 6px;
}

.btn-primary:hover {
  background-color: rgb(127, 62, 187) !important;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}

.pane.pane-top {
  background-color: rgb(9, 2, 18);
  padding-left: 5px !important;
  padding-right: 5px !important;
  justify-content: center !important;
}

.editor-lang {
  padding: 10px !important;
}

.editor-text {
  /* text-align: center; */
  /* height: 2.5em; */
  background-color: #272822;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.301) inset;
  color: rgb(134, 126, 126);
  /* color: black; */
  font-size: 0.7em;
  /* line-height: 2; */
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.editor-text i {
  padding: 15px 6px 15px 0;

}

.editor-text::after {
 
  font-size: 1.2em;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -5px 4px 2px rgba(0, 0, 0, 0.301);
  line-height: 41px;
  margin-left: 15px;
  padding-left: 15px;
  height: 100%;
  width: 30%;
  background-color: #272822;
  z-index: 10;
}
.html::after{
  content: "index.html";
}
.css::after{
  content: "style.css";
}
.js::after{
  content: "script.js";
}
.output-pane {
  left: 0;
  border: 0px solid;
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

.footer {
  background-color: rgb(4, 11, 15) !important;
  position: fixed;
  bottom: 0;
  height: 36px;
  color: rgb(246, 225, 188);
  text-align: center;
  line-height: 2.5;
  justify-content: center !important;
}

.cm-s-monokai.CodeMirror  {
  border-radius: 0 0 10px 10px;
}